table.tablesorter {
	font-size: 12px;
	background-color: #FFFFFF;
	width: 1024px;
	border: 1px solid #E9E9E9;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
	background-color: #CCD6EB;
}
table.tablesorter td {
	color: #292B2F;
	padding: 5px;
}
table.tablesorter .even {
	background-color: #CCD6EB;
}
table.tablesorter .odd {
	background-color: #E9E9E9;
}
table.tablesorter .header {
	background-image: url(bg.png);
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url(asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(desc.png);
	background-repeat: no-repeat;
}